
header{
  background: rgb(25, 83, 46);
    color: white;
    padding: 20px;
    text-align: center;
}
h1{
      display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
p{
      display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
b{
      font-weight: bolder;
}
h2{
      display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
b{
    font-weight: bolder;
}
h2{
      font-size: 1.5em;
}
p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.barre{
      color: #fff;
    background-color: black;
    padding: 10px 10px;
    margin: 0 25px;
}
 .barre a{
      color: white;
    text-decoration: none;
    margin: 0 25px;
    font-size: 18px;
    font-weight: 500;
 }
 .Moi1{
      background-color: rgba(229, 225, 225, 0.889);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
 }
 h2{
    text-align: center;
      display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
 }
 p{
      display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
 }
 b{
      font-weight: bolder;
 }
 .Moi2{
      background-color: rgba(229, 225, 225, 0.889);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
 }
 h2{
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
 }
 ul{
      display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
 }
 li{
      display: list-item;
    unicode-bidi: isolate;
 }
 .Moi3{
   background-color: rgba(229, 225, 225, 0.889);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
 }
 h2{
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
 }
 p{
      display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
 }
 ul{
      display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
 }
 li{
      display: list-item;
    unicode-bidi: isolate;
 }
  #btn-submit{
    grid-area: bt;
    cursor: pointer;
    transition: 0.2s;
  }

  #btn-submit:hover{
    background: rgb(8, 62, 32);
    color: aliceblue;
  }
  .Moi4{
   background-color: rgba(229, 225, 225, 0.889);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
 }
 h2{
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
 }
 
 .Moi5{
  background-color: rgba(229, 225, 225, 0.889);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
 }
 h2{
  text-align: center;
   display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
 }
 ul{
      display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
 }
 li{
      display: list-item;
    unicode-bidi: isolate;
 }